/*http://www.jqueryscript.net/menu/Animated-Toggle-Menu-with-jQuery-CSS-CSS3.html*/
.toggle{
	width: 100%;
	height: 100%;
	background-color: rgba(255, 255, 255, 0.8);
	-webkit-transition: ease-in 0.5s all;
	transition: ease-in 0.5s all;
	-webkit-transform: translateY(-200%);
	-ms-transform: translateY(-200%);
	transform: translateY(-200%);
	position: fixed;
	z-index: 1;
}

.toggle--active{
	-webkit-transition: ease-in 0.5s all;
	transition: ease-in 0.5s all;
	-webkit-transform: translateY(0);
	-ms-transform: translateY(0);
	transform: translateY(0);
}

.toggle-menu li{
	margin-top: 5%;
}

.toggle-menu li a{
	text-decoration: none;
	color: #751A54;
	text-align: center;
	font-size: 3em;
	font-weight: 700;
	text-transform: uppercase;
	border-bottom: 2px solid transparent;
	-webkit-transition: linear 0.5s all;
	transition: linear 0.5s all;
}

.toggle-menu li a:hover{
	color: #0F6369;
	border-bottom: 2px solid #0F6369;
	-webkit-transition: linear 0.5s all;
	transition: linear 0.5s all;
	-webkit-transform: scale(1.15);
	-ms-transform: scale(1.15);
	transform: scale(1.15);
	font-weight: 900;
}

.navicon{
	background: transparent;
	position: fixed;
	height: 38px;
	width: 48px;
	z-index: 2;
	-webkit-transition: linear 0.5s all;
	transition: linear 0.5s all;
	margin: 3%;
}

.navicon:before, .navicon:after{
	background: #bc2360; /*color de las lineas del menu*/
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	content: "";
	height: 8px;
	left: 0;
	-webkit-transition: 0.8s ease;
	transition: 0.8s ease;
	width: 45px;
}

.navicon:before{
	box-shadow: #bc2360 0 14px 0 0;
	position: absolute;
	top: 0;
}

.navicon:after{
	position: absolute;
	top: 28px;
}

.navicon--active{
	margin-top: 3%;
	-webkit-transition: linear 0.5s all;
	transition: linear 0.5s all;
}

.navicon--active:before{
	box-shadow: transparent 0 0 0 0;
	top: 15px;
	-webkit-transform: rotate(225deg);
	-ms-transform: rotate(225deg);
	transform: rotate(225deg);
}

.navicon--active:after{
	top: 15px;
	-webkit-transform: rotate(315deg);
	-ms-transform: rotate(315deg);
	transform: rotate(315deg);
}