/*mi compu*/
@media (min-width: 1200px) {
	h1{
		border: 1px solid yellow;
		font-size: 16em;
	}
	/*mi foto*/
	#miFoto{
		max-width: 60%;
	}
	span.fa:hover{
		color: #00856a;
		border-radius: 50%;
		background-color: #fff;
		padding: 5%;
	}
}
/*mi lap*/
@media (min-width: 992px) and (max-width: 1199px) {
	/*encabezado de mi nombre*/
	h1{
		/*border: 1px solid red;*/
		font-size: 14em;
	}
	/*mi foto*/
	#miFoto{
		max-width: 60%;
		margin-top: 25%;
	}
	.toggle-menu li{
		margin-top: 65px;
	}
	.toggle-menu li a{
		font-size: 30px;
	}
	span.fa:hover{
		color: #00856a;
		border-radius: 50%;
		background-color: #fff;
		padding: 8% 10%;
	}
}
/*azul landscape*/
@media (min-width: 768px) and (max-width: 991px) {
	/*encabezado de mi nombre*/	
	h1{
		/*border: 1px solid blue;*/
		font-size: 12em;
	}
	/*mi foto*/
	#miFoto{
		max-width: 30%;
	}
	.toggle-menu li{
		margin-top: 70px;
	}
	.toggle-menu li a{
		font-size: 35px;
	}
}
/*mi movil en vertical, tablet*/
@media (max-width: 767px) {
	/*encabezado de mi nombre*/
	h1{
		/*border: 1px solid pink;*/
		font-size: 11em;
	}
	/*margin top del primer h1*/
	h1:first-child{
		margin-top: 15%;
	}
	/*mi foto*/
	#miFoto{
		max-width: 40%;
	}
	.toggle-menu li{
		margin-top: 35px;
	}
	.toggle-menu li a{
		font-size: 25px;
	}
	.navicon{
		margin-top: 6%;
	}

}
/*landscape de mi movil=vertical*/
@media only screen and (max-height: 480px){
	.toggle-menu li{
		margin-top: 25px;
		/*border: 1px solid black;*/
	}
}
/*mi cel*/
@media (max-width: 480px) {
	/*encabezado de mi nombre*/
	h1{
		/*border: 1px solid green;*/
		font-size: 8em;
	}
	/*margin top del primer h1*/
	h1:first-child{
		margin-top: 40%;
	}
	/*mi foto*/
	#miFoto{
		max-width: 50%;
	}
	/*texto sobre mi*/
	.texto{
		font-size: 1.4em;
	}
	.navicon{
		margin-top: 8%;
	}
	.skillbar-title {
		width: 35%;
	}
}
/*http://shapebootstrap.net/demo/html/corlate/*/