@media (min-width: 1200px) {
	h1{
		/*border: 1px solid yellow;*/
		font-size: 16em;
	}
	/*mi foto*/
	#miFoto{
		max-width: 60%;
	}
	span.fa:hover{
		color: #00856a;
		border-radius: 50%;
		background-color: #fff;
		padding: 5%;
	}
}

@media (min-width: 992px) and (max-width: 1199px) {
	/*encabezado de mi nombre*/
	h1{
		/*border: 1px solid red;*/
		font-size: 14em;
	}
	/*mi foto*/
	#miFoto{
		max-width: 60%;
		margin-top: 25%;
	}
	.toggle-menu li{
		margin-top: 7%;
	}
	.toggle-menu li a{
		font-size: 2.5em;
	}
	span.fa:hover{
		color: #00856a;
		border-radius: 50%;
		background-color: #fff;
		padding: 8% 10%;
	}
	.navicon{
		margin-top: 5%;
	}
}

@media (min-width: 768px) and (max-width: 991px) {
	/*encabezado de mi nombre*/	
	h1{
		/*border: 1px solid blue;*/
		font-size: 12em;
	}
	/*margin top del primer h1*/
	h1:first-child{
		margin-top: 20%;
	}
	/*mi foto*/
	#miFoto{
		max-width: 30%;
	}
	.toggle-menu li{
		margin-top: 8%;
	}
	.toggle-menu li a{
		font-size: 2.8em;
	}
	.navicon{
		margin-top: 5%;
	}
}

@media (max-width: 767px) {
	/*encabezado de mi nombre*/
	h1{
		/*border: 1px solid pink;*/
		font-size: 11em;
	}
	/*margin top del primer h1*/
	h1:first-child{
		margin-top: 25%;
	}
	/*mi foto*/
	#miFoto{
		max-width: 40%;
	}
	.toggle-menu li{
		margin-top: 10%;
	}
	.toggle-menu li a{
		font-size: 2.2em;
	}
	.navicon{
		margin-top: 8%;
	}
}
/*landscape de movil*/
@media only screen and (max-height: 480px){
	.toggle-menu li{
		margin-top: 4%;
	}
}

@media (max-width: 480px) {
	/*encabezado de mi nombre*/
	h1{
		/*border: 1px solid green;*/
		font-size: 8em;
	}
	/*margin top del primer h1*/
	h1:first-child{
		margin-top: 40%;
	}
	.toggle-menu li{
		margin-top: 12%;
	}
	.toggle-menu li a{
		font-size: 2em;
	}
	/*mi foto*/
	#miFoto{
		max-width: 50%;
	}
	/*texto sobre mi*/
	.texto{
		font-size: 1.4em;
	}
	.navicon{
		margin-top: 8%;
	}
}
/*http://shapebootstrap.net/demo/html/corlate/*/