/*mi compu*/
@media (min-width: 1200px) {
	h1{
/*		border: 1px solid yellow;
*/		font-size: 16em;
	}
	/*mi foto*/
	#miFoto{
		max-width: 60%;
	}
	/*margin de mi menu*/
/*	.toggle-menu li{
		margin-top: 3%;
	}*/
	.toggle-menu li a{
		font-size: 2.5em;
	}

}
/*mi lap*/
@media (min-width: 992px) and (max-width: 1199px) {
	/*encabezado de mi nombre*/
	h1{
		/*border: 1px solid red;*/
		font-size: 14em;
	}
	/*margin top del primer h1*/
	h1:first-child{
		margin-top: 8%;
	}
	/*mi foto*/
	#miFoto{
		max-width: 60%;
		margin-top: 25%;
	}
	/*ajuste de mi titulo de skills*/
	.skillbar-title {
		width: 25%;
	}
	/*posicion de mis barras de menu*/
	.navicon{
		margin-top: 4%;
	}
	/*margin de mi menu OK*/
	.toggle-menu li a{
		font-size: 2.2em;
	}

}
/*azul landscape*/
@media (min-width: 768px) and (max-width: 991px) {
	/*encabezado de mi nombre*/	
	h1{
		/*border: 1px solid blue;*/
		font-size: 12em;
	}
	/*mi foto*/
	#miFoto{
		max-width: 30%;
	}
	/*ajuste de mi titulo de skills*/
	.skillbar-title {
		width: 15%;
	}
	/*posicion de mis barras de menu*/
	.navicon{
		margin-top: 5%;
	}
}
/*mi movil en vertical, tablet*/
@media (max-width: 767px) {
	/*encabezado de mi nombre*/
	h1{
		/*border: 1px solid pink;*/
		font-size: 11em;
	}
	/*margin top del primer h1*/
	h1:first-child{
		margin-top: 15%;
	}
	/*mi foto*/
	#miFoto{
		max-width: 40%;
	}
	/*efecto de contactos hover*/
	.enlace:hover{
		color: #fff;
		margin-bottom: 0;
		transition: none;
		transform: none;
	}
}
/*landscape de mi movil=vertical*/
@media only screen and (max-height: 480px){
	/*efecto de contactos hover*/
	.enlace:hover{
		color: #fff;
		margin-bottom: 0;
		transition: none;
		transform: none;;
	}
	/*margin de mi menu OK*/
	.toggle-menu li a{
		font-size: 1.5em;
	}
}
/*mi cel*/
@media (max-width: 480px) {
	/*encabezado de mi nombre*/
	h1{
		/*border: 1px solid green;*/
		font-size: 8em;
	}
	/*margin top del primer h1*/
	h1:first-child{
		margin-top: 40%;
	}
	/*mi foto*/
	#miFoto{
		max-width: 50%;
	}
	/*texto sobre mi*/
	.texto{
		font-size: 1em;
	}
	.navicon{
		margin-top: 8%;
	}
	/*ajuste de mi titulo de skills*/
	.skillbar-title {
		width: 35%;
	}
	/*efecto de contactos hover*/
	.enlace:hover{
		color: #fff;
		margin-bottom: 0;
		transition: none;
		transform: none;
	}
	/*margin de mi menu OK*/
	.toggle-menu li{
		margin-top: 15%;
	}
	.toggle-menu li a{
		font-size: 2em;
	}
}
/*http://shapebootstrap.net/demo/html/corlate/*/