/* Large Devices, Wide Screens */
@media only screen and (min-width : 1024px) {
	/*encabezado de mi nombre*/
	h1{
/*		border: 1px solid red;
*/		font-size: 14em;
	}
	/*margin top del primer h1*/
	h1:first-child{
		margin-top: 5%;
	}
	/*mi foto*/
	#miFoto{
		max-width: 60%;
	}
	/*icono de menu*/
	.navicon{
		margin-top: 2%;
	}
*/
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 768px) and (max-width: 979px) {
	/*encabezado de mi nombre*/	
	h1{
/*		border: 1px solid blue;
*/		font-size: 12em;
	}
	/*margin top del primer h1*/
	h1:first-child{
		margin-top: 10%;
	}
	/*mi foto*/
	#miFoto{
		max-width: 30%;
	}
	/*icono de menu*/
	.navicon{
		margin-top: 10%;
	}
}

/* Small Devices, Tablets */
@media only screen and (max-width : 767px) {
	/*encabezado de mi nombre*/
	h1{
/*		border: 1px solid pink;
*/		/*margin-top: 30%; */
		font-size: 10em;
	}
	/*margin top del primer h1*/
	h1:first-child{
		margin-top: 15%;
	}
	/*mi foto*/
	#miFoto{
		max-width: 40%;
	}
	/*icono de menu*/
	.navicon{
		margin-top: 10%;
	}
}

/* Extra Small Devices, Phones */ 
@media only screen and (max-width : 480px) {
	/*encabezado de mi nombre*/
	h1{
/*		border: 1px solid green;
*/		font-size: 8em;
	}
	/*margin top del primer h1*/
	h1:first-child{
		margin-top: 40%;
	}
	/*mi foto*/
	#miFoto{
		max-width: 50%;
	}
	/*icono de menu*/
	.navicon{
		margin-top: 10%;
	}
}